In [1]:
import pandas as pd
import string

In [2]:
with open('../res/valid_guesses.csv', 'rt') as f:
    d = f.readlines()
d = [w[:-1] for w in d]

In [3]:
stat = pd.DataFrame(0, index=list(string.ascii_lowercase), columns=[0,1,2,3,4])
for w in d:
    for i in range(5):
        stat.loc[w[i]][i] += 1

In [4]:
stat

      0     1     2     3     4
a   596  1959   929   911   616
b   736    65   278   219    48
c   724   136   336   259    96
d   574    64   315   402   705
e   231  1386   705  2009  1098
f   462    16   153   198    56
g   523    64   297   347   102
h   420   402   111   207   231
i   131  1181   785   722   269
j   182     9    43    27     3
k   356    85   260   448   146
l   489   498   736   609   320
m   586   150   450   334   140
n   288   258   825   606   400
o   221  1817   749   566   331
p   717   170   306   368    91
q    55    10    12     2     4
r   523   673  1035   567   461
s  1199    77   453   345  3922
t   666   162   505   759   474
u   156  1001   502   319    66
v   199    37   191   110     4
w   330   119   245   103    47
x    16    43   121     9    62
y   175   248   184   105   937
z   102    27   131   106    28

In [5]:
scores = [(w, sum([stat.loc[w[i]][i] for i in range(5)])) for w in d]
scores = sorted(scores, key=lambda x: -x[1])

In [6]:
print('Top 100 words:')
for w, s in scores[:100]:
    print('  ', w, '', s)

Top 100 words:
   sores  9982
   sanes  9914
   sales  9825
   sones  9772
   soles  9683
   bares  9661
   cares  9649
   pares  9642
   sates  9594
   tares  9591
   seres  9551
   sames  9539
   bores  9519
   mares  9511
   cores  9507
   pores  9500
   dares  9499
   banes  9451
   tores  9449
   gares  9448
   rares  9448
   canes  9439
   panes  9432
   lares  9414
   sades  9404
   fares  9387
   sages  9386
   mores  9369
   sabes  9367
   bales  9362
   dores  9357
   sakes  9349
   sires  9346
   hares  9345
   pales  9343
   senes  9341
   bones  9309
   gores  9306
   rores  9306
   manes  9301
   cones  9297
   tales  9292
   pones  9290
   soces  9283
   saves  9280
   lores  9272
   wares  9255
   seles  9252
   fores  9245
   safes  9242
   tones  9239
   boles  9220
   sazes  9220
   nares  9213
   males  9212
   saxes  9210
   coles  9208
   sokes  9207
   lanes  9204
   poles  9201
   dales  9200
   fanes  9177
   sures  9166
   toles  9150
   gales  9149
   rales  9149
   kores  9139
   sines  9136
   bates  9131
   vares  9124
   cates  9119
   pates  9112
   rones  9096
   beres  9088
   bases  9079
   ceres  9076
   kanes  9071
   moles  9070
   peres  9069
   cases  9067
   cames  9064
   tates  9061
   pases  9060
   doles  9058
   siles  9047
   hales  9046
   wanes  9045
   fones  9035
   kaies  9031
   teres  9018
   tases  9009
   goles  9007
   roles  9007
   tames  9006
   hones  8993
   botes  8989
   kales  8982
   mates  8981
   cotes  8977
   potes  8970